* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-size: 100%;
}

.name {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  font-family: 'Montserrat';
  padding: 5px 10px;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  background-color: #f5f7f8;
  transition: background 1s ease-in-out;
}

.box div:not(.text) {
  position: relative;
  animation: launch 3s ease-out;
  animation-delay: 1s;
  animation-iteration-count: 1;
}

@keyframes launch {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(-300%);
  }
}

.box .iconify {
  position: absolute;
  top: 73%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(180deg);
  font-size: 1.5rem;
  animation: hide 3.5s ease-out;
  /* animation-delay: 0.5s; */
  animation-iteration-count: 1;
  opacity: 0;
}

@keyframes hide {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.text {
  color: hsl(0, 0%, 93%);
  font-size: 4rem;
  font-family: 'Linefont';
  animation: show 5s ease-out;
  animation-delay: 0.5s;
  animation-iteration-count: infinite;
  opacity: 0;
}

.show-text {
  filter: opacity(1) !important;
  transition: filter 878ms ease-in;
}

@keyframes show {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

h1 {
  /* color: hsl(0, 0%, 93%); */
  color: #072541;
  font-family: 'Montserrat', sans-serif;
  font-size: 5rem;
  display: flex;
  gap: 1rem;
  text-align: center;
}

@media (max-width: 720px) {
  h1 {
    flex-direction: column;
    font-size: 3.5rem;
  }
}

.content {
  font-size: x-large;
  color: #192655;
  display: flex;
  gap: 10px;
}

.txt {
  display: block;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s;
}

.icon:hover {
  transform: translateY(-10px) !important;
  cursor: pointer;
}
