---
import '../styles/global.css'
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>neb.wiki</title>
    <link rel="shortcut icon" href="favicon.svg" type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Linefont:wght@200&family=Montserrat:wght@900&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/iconify/2.0.0/iconify.min.js"
      integrity="sha512-lYMiwcB608+RcqJmP93CMe7b4i9G9QK1RbixsNu4PzMRJMsqr/bUrkXUuFzCNsRUo3IXNUr5hz98lINURv5CNA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"></script>
  </head>
  <body>
    <div class="name">neb.wiki</div>
    <main class="box">
      <div>
        <img src="/neb-wiki-min-removebg.png" width="200" alt="logo" />
        <span class="iconify" data-icon="bytesize:fire" data-inline="false"
        ></span>
      </div>
    </main>
  </body>

  <script>
    const box = document.querySelector('.box')

    setTimeout(() => {
      box.removeChild(document.querySelector('.box div'))
      box.style.background = 'black'
    }, 3500)

    setTimeout(() => {
      const text = document.createElement('div')
      text.classList.add('text')

      box.appendChild(text)

      setTimeout(() => {
        text.textContent =
          '\u0043 \u006F \u006D \u0069 \u006E \u0067 \u0020 \u0053 \u006F \u006F \u006E'
        text.classList.add('showMe')
      }, 288)
    }, 4500)
  </script>
</html>
